.ui-icon-1{
	background-image: url("1.png");
}

.ui-icon-2{
	background-image: url("2.png");
}

.ui-icon-3 {
	background-image: url("3.png");
}

.ui-icon-4 {
	background-image: url("4.png");
}

.ui-icon-5 {
	background-image: url("5.png");
}